{% load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static "js/classes.js" %}"></script>
  </head>
  <body class="bg-white">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div>
      <div
        id="modal-overlay"
        class="hidden fixed top-0 left-0 w-full h-full bg-gray-700 opacity-50 z-40"
      ></div>
      <div
        id="modal-overlay-join"
        class="hidden fixed top-0 left-0 w-full h-full bg-gray-700 opacity-50 z-40"
      ></div>
      <div
        id="modal-create"
        class="fixed z-10 inset-0 overflow-y-auto hidden"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <!--
            Background overlay, show/hide based on modal state.
      
            Entering: "ease-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div
            class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            aria-hidden="true"
          ></div>

          <!-- This element is to trick the browser into centering the modal contents. -->
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >

          <!--
            Modal panel, show/hide based on modal state.
      
            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div
            class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
          >
            <div>
              <div class="mt-3 text-center sm:mt-5">
                <div class="flex justify-start">
                  <h3
                    class="text-lg leading-6 font-medium text-gray-900"
                    id="modal-title"
                  >
                    Create class modal
                  </h3>
                </div>
                <div class="mt-2">
                  <div class="flex justify-start mb-3">
                    <p class="text-sm text-gray-500">
                      Start here to create a new class
                    </p>
                  </div>
                </div>

                <div class="flex flex-col space-y-3">
                  <div class="flex flex-col justify-start space-y-5">
                    <div class="relative mt-1">
                      <input
                        type="text"
                        name="name"
                        id="className"
                        class="block w-full border border-gray-300 bg-white rounded-md focus:outline-none focus:border-blue-500 text-sm h-15 px-4 py-2"
                        placeholder="Class name(required) "
                      />
                    </div>
                  </div>

                  <div class="flex flex-col justify-start space-y-1">
                    <div class="mt-1">
                      <input
                        type="text"
                        name="name"
                        id="section"
                        class="block w-full border border-gray-300 bg-white rounded-md focus:outline-none focus:border-blue-500 text-sm h-15 px-4 py-2"
                        placeholder="Section"
                      />
                    </div>
                  </div>

                  <div class="flex flex-col justify-start">
                    <div class="flex justify-start"></div>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="name"
                        id="subject"
                        class="block w-full border border-gray-300 bg-white rounded-md focus:outline-none focus:border-blue-500 text-sm h-15 px-4 py-2"
                        placeholder="Subject"
                      />
                    </div>
                  </div>

                  <div class="flex flex-col justify-start">
                    <div class="mt-1">
                      <input
                        type="text"
                        name="name"
                        id="room"
                        class="block w-full border border-gray-300 bg-white rounded-md focus:outline-none focus:border-blue-500 text-sm h-15 px-4 py-2"
                        placeholder="Room"
                      />
                    </div>
                  </div>

                  
                  <div class="flex flex-col justify-start">
                    <div class="flex items-center justify-center w-full">
                      <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none " aria-describedby="file_input_help" id="file_input" type="file">

                    </div> 
                  </div>

                </div>
              </div>
            </div>
            <div
              class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense"
            >
              <button
                type="button"
                id="enterButton"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 sm:col-start-2 sm:text-sm"
              >
                Enter
              </button>
              <button
                type="button"
                id="cancelButton"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-150 sm:mt-0 sm:col-start-1 sm:text-sm"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        id="modal-join"
        class="fixed z-10 inset-0 overflow-y-auto hidden"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
        aria-hidden="true"
      >
        <div
          class="flex items-start justify-start min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <!--
            Background overlay, show/hide based on modal state.
      
            Entering: "ease-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div
            class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            aria-hidden="true"
          ></div>

          <!-- This element is to trick the browser into centering the modal contents. -->
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >

          <!--
            Modal panel, show/hide based on modal state.
      
            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div
            class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
          >
            <div>
              <div class="mt-3 text-center sm:mt-5 flex justify-start flex-col">
                <div class="flex justify-start">
                  <h3
                    class="text-lg leading-6 font-medium text-gray-900"
                    id="modal-title"
                  >
                    Class code
                  </h3>
                </div>
                <div class="flex justify-start mb-3">
                  <p class="text-md leading-6 font-medium text-black-400">
                    Ask the creator for the class code, then enter it here.
                  </p>
                </div>
                <div class="flex flex-col justify-start">
                  <div class="flex justify-start">
                    <label
                      for="name"
                      class="block text-sm font-medium text-gray-700"
                      >Class code</label
                    >
                  </div>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="block w-full border border-gray-300 bg-white rounded-md focus:outline-none focus:border-blue-500 text-sm h-10 px-4 py-2"
                      placeholder="Jane Doe"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense"
            >
              <button
                type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm"
              >
                Enter
              </button>
              <button
                type="button"
                id="cancelButton-join"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-150 sm:mt-0 sm:col-start-1 sm:text-sm"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <nav class="bg-white shadow">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
                <img
                  class="block lg:hidden h-8 w-auto"
                  src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                  alt="Workflow"
                />
                <img
                  class="hidden lg:block h-8 w-auto"
                  src="https://tailwindui.com/img/logos/workflow-logo-indigo-600-mark-gray-800-text.svg"
                  alt="Workflow"
                />
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                <a
                  href="{% url 'homepage' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Home
                </a>
                <a
                  href="{% url 'posts' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Posts
                </a>
                <a
                  href="{% url 'chatroom' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Chatroom
                </a>
                <a
                  href="{% url 'classes' %}"
                  class="{% if request.path == '/classes' %}border-indigo-500 text-gray-900{% else %}border-transparent{% endif %} text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Classes
                </a>
                <a
                  href="{% url 'quiz' %}"
                  class="{% if request.path == '/quiz' %}border-indigo-500{% else %}border-transparent{% endif %} text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Quizes
                </a>
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <div class="ml-3 relative">
                <div class="flex justify-center items-center">
                  <button
                    id="class-menu-btn"
                    type="button"
                    class="bg-white p-1 rounded-full hover:text-gray-500 text-2xl font-meddium"
                  >
                    <span class="sr-only">View notifications</span>
                    <!-- Heroicon name: outline/bell -->
                    <ion-icon name="add-outline" class=""></ion-icon>
                  </button>
                </div>
                <div
                  id="class-menu"
                  class="origin-top-right absolute right-3 mt-0 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 border-b"
                    role="menuitem"
                    tabindex="-1"
                    id="join-button"
                    >Join a class</a
                  >
                  <a
                    href="#"
                    id="create-button"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    >Create a class</a
                  >
                </div>
              </div>

              <!-- Profile dropdown -->
              <div class="ml-3 relative">
                <div>
                  <button
                    id="user-menu-button"
                    type="button"
                    class="bg-white rounded-full flex text-smjale"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <span class="sr-only">Open user menu</span>
                    <img
                      class="h-8 w-8 rounded-full"
                      src="{% if user.avatar.image %}{{ user.avatar.image.url }}{% else %}https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80{% endif %}"

                      alt=""
                    />
                  </button>
                </div>

                <!--
                Dropdown menu, show/hide based on menu state.
    
                Entering: "transition ease-out duration-200"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div
                  id="user-menu"
                  class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                    >Your Profile</a
                  >

                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                    >Sign out</a
                  >
                </div>
              </div>
            </div>
            <div class="-mr-2 flex items-center sm:hidden">
              <!-- Mobile menu button -->
              <button
                id="user-menu-button"
                type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                aria-controls="mobile-menu"
                aria-expanded="false"
                onclick="toggleMenu()"
              >
                <span class="sr-only">Open main menu</span>
                <!--
                Icon when menu is closed.
    
                Heroicon name: outline/menu
    
                Menu open: "hidden", Menu closed: "block"
                -->
                <svg
                  class="block h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
                <!--
                Icon when menu is open.
    
                Heroicon name: outline/x
    
                Menu open: "block", Menu closed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu" hidden>
          <div class="pt-2 pb-3 space-y-1">
            <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
            <a
              href="{% url 'homepage' %}"
              class="border-transparent block text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Home</a
            >
            <a
              href="{% url 'posts' %}"
              class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Posts</a
            >
            <a
              href="{% url 'chatroom' %}"
              class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Chatroom</a
            >
            <a
              href="{% url 'classes' %}"
              class="{% if request.path == '/classes' %}border-indigo-500 text-gray-900{% else %}border-transparent{% endif %} text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Classes</a
            >

            <a
              href="{% url 'quiz' %}"
              class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Quizes</a
            >
          </div>
          <div class="pt-4 pb-3 border-t border-gray-200">
            <div class="flex items-center px-4">
              <div class="flex-shrink-0">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <div class="text-base font-medium text-gray-800">Tom Cook</div>
                <div class="text-sm font-medium text-gray-500">
                  tom@example.com
                </div>
              </div>
              <button
                type="button"
                class="ml-auto flex-shrink-0 bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg
                  class="h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                  />
                </svg>
              </button>
            </div>
            <div class="mt-3 space-y-1">
              <a
                href="#"
                class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Your Profile</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Settings</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Sign out</a
              >
            </div>
          </div>
        </div>
      </nav>
      <div>
             
        <ul
          role="list"
          class="p-6 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        > 
        {% for class in classes %}
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text-sm font-medium truncate">{{ class.name }}</h3>
                <span class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">{{ class.user }}</span>
              </div>
              <p class="mt-1 text-gray-500 text-sm truncate">{{ class.section }}</p>
              
            </div>
            {% if class.class_photo %}
    {% with class.class_photo.url as file_url %}
        {% if file_url|lower|slice:"-4:" == '.jpg' or file_url|lower|slice:"-5:" == '.jpeg' or file_url|lower|slice:"-4:" == '.png' %}
            <!-- Display the image if it's a supported image file -->
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="{{ file_url }}" alt="">
        {% elif file_url|lower|slice:"-4:" == '.svg' %}
            <!-- Display the SVG file using the object tag -->
            <object class="w-40 h-32 flex-shrink-0 mx-auto" data="{{ file_url }}" type="image/svg+xml"></object>
        {% else %}
            <!-- Display a link to the file if it's not an image or SVG -->
            <div class="relative"><a href="{{ file_url }}" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ class.class_photo }}</a></div>
        {% endif %}
    {% endwith %}
{% endif %}

            
          </div>
          <div>
            <div class="-mt-px flex divide-x divide-gray-200">
              <div class="w-0 flex-1 flex">
                <button class=" relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-red-700 font-medium border border-transparent rounded-bl-lg hover:text-red-500"
                      
                >
                   
                  <ion-icon name="trash-outline"></ion-icon>
                  <span class="ml-3" >Delete</span>
                </button>
              </div>
              <div class="w-0 flex-1 flex">
                <button data-class-pk="{{ class.pk }}" class="jump-in-button relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500"
                      
                >
                   
                  <ion-icon name="open-outline"></ion-icon>
                  <span class="ml-3" >Jump in</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        
        </ul>
      </div>
    </div>
    <script>
      const userMenuButton = document.getElementById("user-menu-button");
      const userMenu = document.getElementById("user-menu");

      // Initially hide the user menu
      userMenu.style.display = "none";

      userMenuButton.addEventListener("click", function (event) {
        // Toggle the display property of the user menu
        if (userMenu.style.display === "none") {
          userMenu.style.display = "block";
        } else {
          userMenu.style.display = "none";
        }
        // Prevent the click event from propagating further
        event.stopPropagation();
      });

      // Add event listener to the document body
      document.body.addEventListener("click", function (event) {
        // Check if the click event target is not the user menu button or the user menu itself
        if (
          event.target !== userMenuButton &&
          event.target !== userMenu &&
          !userMenu.contains(event.target)
        ) {
          // Hide the user menu
          userMenu.style.display = "none";
        }
      });

      // Add event listener to the userMenu itself to hide it when clicked
      userMenu.addEventListener("click", function (event) {
        // Hide the user menu
        userMenu.style.display = "none";
        // Prevent the click event from propagating further
        event.stopPropagation();
      });

      const classMenuButton = document.getElementById("class-menu-btn");
      const classMenu = document.getElementById("class-menu");

      // Initially hide the user menu
      classMenu.style.display = "none";

      classMenuButton.addEventListener("click", function (event) {
        // Toggle the display property of the user menu
        if (classMenu.style.display === "none") {
          classMenu.style.display = "block";
        } else {
          classMenu.style.display = "none";
        }
        // Prevent the click event from propagating further
        event.stopPropagation();
      });

      // Add event listener to the document body
      document.body.addEventListener("click", function (event) {
        // Check if the click event target is not the user menu button or the user menu itself
        if (
          event.target !== classMenuButton &&
          event.target !== classMenu &&
          !userMenu.contains(event.target)
        ) {
          // Hide the user menu
          classMenu.style.display = "none";
        }
      });

      // The modal for creating a new class

      document.addEventListener("DOMContentLoaded", function () {
        // Select the create class link
        const createClassLink = document.getElementById("create-button");

        // Select the modal and overlay
        const modal = document.getElementById("modal-create");
        const overlay = document.querySelector(".bg-gray-500");

        // Function to hide modal and overlay
        function hideModal() {
          modal.classList.add("hidden");
          overlay.classList.add("hidden");
        }

        // Add event listener to the create class link
        createClassLink.addEventListener("click", function (event) {
          event.preventDefault();
          // Display the modal and overlay
          modal.classList.remove("hidden");
          overlay.classList.remove("hidden");
        });

        // Add event listener to the overlay to hide modal when clicked outside
        overlay.addEventListener("click", function (event) {
          if (event.target === overlay) {
            hideModal();
          }
        });

        // Select the cancel button
        const cancelButton = document.getElementById("cancelButton");

        // Add event listener to the cancel button
        cancelButton.addEventListener("click", function () {
          // Hide the modal and overlay
          hideModal();
        });

        // Add event listener to the Escape key to hide modal
        document.addEventListener("keydown", function (event) {
          if (event.key === "Escape" && !modal.classList.contains("hidden")) {
            hideModal();
          }
        });
      });

      //The join modal

      document.addEventListener("DOMContentLoaded", function () {
        // Select the create class link
        const joinClassLink = document.getElementById("join-button");

        // Select the modal and overlay
        const joinmodal = document.getElementById("modal-join");
        const overlay = document.querySelector(".bg-gray-500");

        // Function to hide modal and overlay
        function hidejoinModal() {
          joinmodal.classList.add("hidden");
          overlay.classList.add("hidden");
        }

        // Add event listener to the create class link
        joinClassLink.addEventListener("click", function (event) {
          event.preventDefault();
          // Display the modal and overlay
          joinmodal.classList.remove("hidden");
          overlay.classList.remove("hidden");
        });

        // Add event listener to the overlay to hide modal when clicked outside
        overlay.addEventListener("click", function (event) {
          if (event.target === overlay) {
            hidejoinModal();
          }
        });

        // Select the cancel button
        const cancelButton = document.getElementById("cancelButton-join");

        // Add event listener to the cancel button
        cancelButton.addEventListener("click", function () {
          // Hide the modal and overlay
          hidejoinModal();
        });

        // Add event listener to the Escape key to hide modal
        document.addEventListener("keydown", function (event) {
          if (
            event.key === "Escape" &&
            !joinmodal.classList.contains("hidden")
          ) {
            hidejoinModal();
          }
        });
      });

      function toggleMenu() {
        var mobileMenu = document.getElementById("mobile-menu");
        if (mobileMenu.hasAttribute("hidden")) {
          mobileMenu.removeAttribute("hidden");
        } else {
          mobileMenu.setAttribute("hidden", "");
        }
      }
    </script>
  </body>
</html>
