{% load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://kit.fontawesome.com/fe48d315e7.js" crossorigin="anonymous"></script>
    <script src="{% static "js/plan.js" %}"></script>
  </head>
  <body class="bg-gray-200 z-20">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div>
      <nav class="fixed top-0 left-0 right-0 z-50 bg-gray-100 border-b shadow-lg   sm:px-6  ">
        <div class="max-w-7xl mx-auto  sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            
              <div class="flex-shrink-0 flex items-center">
                <img
                class="block lg:hidden h-16 w-auto"
                src="{% static "images/EduLink (1).png" %}"
                alt="Workflow"
              />
              <img
                class="hidden lg:block h-16 w-auto"
                src="{% static "images/EduLink (1).png" %}"
                alt="Workflow"
              />
              </div>
              <div class="flex items-center justify-center hidden sm:ml-6 sm:flex sm:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                <a
                  href="{% url 'homepage' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 font-sans hover:text-gray-700 inline-flex items-center px-1 pt-1 font-sans border-b-2 text-md font-medium"
                >
                Home
                </a>
                <a
                  href="{% url 'posts' %}"
                  class="{% if request.path == '/posts' %}border-blue-500{% else %}border-transparent{% endif %} text-gray-500 font-sans hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium"
                >
                  Posts
                </a>
                <a
                  href="{% url 'chatroom' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 font-sans hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium"
                >
                  Chatroom
                </a>
                <a
                  href="{% url 'classes' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 font-sans hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium"
                >
                  Classes
                </a>
                <a
                  href="{% url 'plan' %}"
                  class="{% if request.path == '/plan' %}border-blue-900 text-blue-900{% else %}border-transparent{% endif %} hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium"
                >
                  Plan
                </a>
              </div>
            
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <div class="flex justify-center items-center">
                <button
                  type="button"
                  id="plan-menu-btn"
                  class="bg-gray-100 rounded-full text-gray-400 hover:text-gray-500 p-1 focus:outline-none "
                >
                  <div class="flex items-center justify-center" id="add_activity">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
                      <path fill="#0d47a1" d="M21.25,40.454l6.13-6.142c0.694-0.696,0.694-1.823,0-2.519L11.165,15.547	c-0.694-0.696-1.82-0.696-2.514,0l-6.13,6.142c-0.694,0.696-0.694,1.823,0,2.519l16.215,16.246	C19.43,41.15,20.555,41.15,21.25,40.454z"></path><path fill="#29b6f6" d="M18.788,40.498l-6.223-6.235c-0.669-0.67-0.669-1.756,0-2.426L35.854,8.502	c0.669-0.67,1.753-0.67,2.421,0l6.223,6.235c0.669,0.67,0.669,1.756,0,2.426L21.209,40.498	C20.541,41.167,19.457,41.167,18.788,40.498z"></path>
                      </svg>
                  </div>
                </button>
              </div>
                
             
              
            

              <!-- Profile dropdown -->
              <div class="ml-3 relative">
                <div>
                  <button
            
                    type="button"
                    class="bg-white rounded-full flex text-sm"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <span class="sr-only">Open user menu</span>
                    <img
                      class="h-8 h-8 rounded-full  transparent"
                      src="{% if user.avatar.image %}{{ user.avatar.image.url }}{% else %}{% static "images\icons8-avatar.gif" %}{% endif %}"

                      alt=""
                    />
                  </button>

                </div>

                <!--
                Dropdown menu, show/hide based on menu state.
    
                Entering: "transition ease-out duration-200"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div
                  id="user-menu"
                  class="origin-top-right bg-gray-100 absolute right-2 mt-1 w-24 rounded-md shadow-lg py-1  ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 border-b"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                    >My Profile</a
                  >
                 
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 "
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                    >Log out</a
                  >
                </div>
              </div>
            </div>
            <div class="-mr-2  flex items-center sm:hidden">
              <!-- Mobile menu button -->
              <button
                id="user-menu-button"
                type="button"
                onclick="toggleMenu()"
                class="inline-flex items-center justify-center p-2 rounded-md border border-gray-400 mr-5 duration-300 hover:bg-gray-600 hover:text-white text-gray-400" 
                aria-controls="mobile-menu"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <!--
                Icon when menu is closed.
    
                Heroicon name: outline/menu
    
                Menu open: "hidden", Menu closed: "block"
                -->
                <svg
                  class="block h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
                <!--
                Icon when menu is open.
    
                Heroicon name: outline/x
    
                Menu open: "block", Menu closed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div  class="sm:hidden" id="mobile-menu" hidden>
          <div class="pt-2 pb-3 space-y-1">
            <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
            <a
              href="{% url 'homepage' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Home</a
            >
            <a
              href="{% url 'posts' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Posts</a
            >
            <a
              href="{% url 'chatroom' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Chatroom</a
            >
            <a
              href="{% url 'classes' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Classes</a
            >

            <a
              href="{% url 'plan' %}"
              class="{% if request.path == '/plan' %}border-blue-500 text-gray-900{% else %}border-transparent{% endif %} text-gray-500 hover:bg-gray-50 font-sans hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Plan</a
            >
          </div>
          <div class="pt-4 pb-3 border-t border-gray-200">
            <div class="flex items-center px-4">
              <div class="flex-shrink-0">
                <img
                  class="h-10 w-10 rounded-full"
                  src="{% if user.avatar.image %}{{ user.avatar.image.url }}{% else %}{% static "images\icons8-avatar.gif" %}{% endif %}"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <div class="text-base font-sans font-medium text-gray-800">{{ user.username }}</div>
                <div class="text-sm font-sans font-medium text-gray-500">
                  {{ user.email }}
                </div>
              </div>
              <button
                type="button"
                class="ml-auto flex-shrink-0 text-md bg-gray py-2 px-3 duration-400 hover:bg-gray-600 rounded-md text-gray-400 border border-gray-400 "
              >
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <i class="fa-solid fa-bars"></i>
              </button>
            </div>
            <div class="mt-3 space-y-1 hidden">
              <a
                href="#"
                class="block font-sans px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Your Profile</a
              >
              
              <a
                href="{% url 'user_logout' %}"
                class="block px-4 py-2 text-base font-sans font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Sign out</a
              >
            </div>
          </div>
        </div>
      </nav>

      

      <div class="z-20">
        {% if plans %}
        <div class="pt-16 pl-4">
          <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4 p-2">
        {% for plan in plans %}
        
            <li class="col-span-1 flex shadow-sm rounded-md">
                  <div class="flex-shrink-0 flex items-center justify-center w-16 bg-gradient-to-r from-blue-600  to-blue-800 text-white text-sm font-medium rounded-l-md">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M15.133 10.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V1.1a1 1 0 0 0-2 0v2.364a.946.946 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C4.867 13.018 3 13.614 3 14.807 3 15.4 3 16 3.538 16h12.924C17 16 17 15.4 17 14.807c0-1.193-1.867-1.789-1.867-4.175ZM4 4a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 4 4ZM2 8H1a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 16 4Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM6.823 17a3.453 3.453 0 0 0 6.354 0H6.823Z"/>
                    </svg>
                  </div>
                  <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200  rounded-r-md truncate" style="background-image: url('{% static "images/undraw_online_learning_re_qw08 (3).svg" %}'); background-size: cover; background-position: center;">
                    <div class="flex-1 px-4 py-2 text-sm truncate">
                      <a href="#" class="text-gray-900 font-medium hover:text-gray-600">{{plan.activity}}</a>
                      <p class="text-gray-500">{{plan.status}}</p>
                      <p class="text-gray-700">Started at: {{plan.start_time}}</p>
                     
                      
                    </div>
                    <div class="flex-shrink-0 pr-2" >
                      <button type="button" class="dropdown-button w-8 h-8 bg-gray-200 inline-flex items-center justify-center text-gray-900 rounded-full bg-transparent hover:text-gray-500 ">
                        <span class="sr-only">Open options</span>
                        <!-- Heroicon name: solid/dots-vertical -->
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                        </svg>
                      </button>
                      
                    </div>
                    <div  class="dropdownDots z-10 hidden bg-blue-600 divide-y divide-gray-100 rounded-lg shadow w-32 m-2">
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                         <li>
                            <a data-plan-pk={{plan.pk}} class="edit-event block px-4 py-2 hover:bg-blue-800 text-white cursor-pointer">Edit</a>
                         </li>
                        
                         <li>
                            <a href="#" class="block px-4 py-2 hover:bg-blue-800 text-white cursor-pointer ">Delete</a>
                         </li>
                      </ul>
                   </div>
                    
                  </div>
                  
                </li>

                
        
        {% endfor%}
              </ul>

              
            </div>

            <div id="update-event-div" class="fixed inset-0 overflow-hidden hidden" role="dialog" aria-modal="true">
              <div class="absolute inset-0 overflow-hidden">
                
                  <div class="relative w-96">
                    
                    <div class="absolute top-0 left-0 -ml-8 pt-4 pr-2 flex sm:-ml-10 sm:pr-4">
                      <button type="button" class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                        <span class="sr-only">Close panel</span>
                        <!-- Heroicon name: outline/x -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
            
                    
                    <div class="h-full bg-white p-8 overflow-y-auto">
                      <div class="pb-8 space-y-6">
                        <div>
                          <div class="block w-full aspect-w-5 aspect-h-3 rounded-lg overflow-hidden">
                            <img  src="{% static "images/undraw_checklist__re_2w7v.svg" %}" alt="" class="object-cover">
                          </div>
                        </div>                      
                        <div class="flex">
                          <button type="button" class="flex-1 bg-blue-700 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                          <button type="button" id="cancel-div" class="flex-1 ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
    

                      
            {% else %}
        <div id="noplan-div" class="text-center pt-24">
          <div class="flex justify-center items-center "><img src="{% static "images/DrawKit Vector Illustration Team Work (17).svg" %}"  alt="" class="fill-gray-200 w- h-64 rounded-md "></div>
          <h3 class="mt-2 text-sm font-medium text-blue-900">Hey {{user.username}}</h3>
          <p class="mt-1 text-sm text-gray-500">Start by adding an event you want to track</p>
          <div class="mt-6">
            <button id="add-plan-div-no" type="button" class="inline-flex items-center px-4 py-2 border border-blue-900 shadow-sm text-xs font-medium rounded-lg text-blue-900 bg-white duration-500 hover:bg-blue-900 hover:text-white ">
              <!-- Heroicon name: solid/plus -->
              <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              Add an event
            </button>
            
          </div>
          {% endif %}
        </div>
        



        <div id="add-event-div" class="absolute z-40 inset-0 overflow-hidden hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
          <div class="absolute inset-0 h-screen  overflow-hidden">
            <!-- Background overlay, show/hide based on slide-over state. -->
            <div class="absolute inset-0  bg-gray-500 bg-opacity-75 h-screen transition-opacity" aria-hidden="true">
              <div class="fixed inset-y-0  right-0 top-12 pl-10 max-w-full lg:p-0 flex sm:pr-12">
                <!--
                  Slide-over panel, show/hide based on slide-over state.
        
                  Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-full"
                    To: "translate-x-0"
                  Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-0"
                    To: "translate-x-full"
                -->
                <div class="h-full overflow-y-auto  max-w-md">
                  <div class="h-full divide-y divide-gray-200 flex flex-col bg-white shadow-xl">
                    <div class="min-h-0 flex-1 flex flex-col py-6 overflow-y-scroll">
                      <div class="px-4 sm:px-6">
                        <div class="flex items-start justify-between">
                          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Activity Plan</h2>

                          <div class="ml-3 h-7 flex items-center">
                            <button type="button" id="cancel-div-top" class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-red-500">
                              <span class="sr-only">Close panel</span>
                              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
                                <path fill="#f44336" d="M36.021,8.444l3.536,3.536L11.98,39.557l-3.536-3.536L36.021,8.444z"></path><path fill="#f44336" d="M39.555,36.023l-3.536,3.535L8.445,11.976l3.536-3.535L39.555,36.023z"></path>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="block w-full aspect-w-2 aspect-h-1 rounded-lg overflow-hidden">
                          <img src="{% static "images\DrawKit Vector Illustration Team Work (4).svg" %}" alt="">
                        </div>
                        
                      </div>
                      <div class="mt-3 relative flex-1 px-4 sm:px-6">
                        <div class="max-w-md mx-auto">
                          
                          
                     
                            <h3 class="font-semibold text-gray-900 ">Select the activity you want to track</h3>
                            <div class="relative z-0 w-full mb-2 group mt-2">
                                
                                <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-00 appearance-none  dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                                <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Activity</label>
                            </div>

                            <div class="max-w-[16rem]  grid grid-cols-2 gap-4 ">
                              <div>
                                  <label for="start-time" class="block mb-2 text-sm font-bold text-gray-900 ">Start time:</label>
                                  <div class="relative">
                                      <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                      
                                      </div>
                                      <input type="time" id="start-time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " min="09:00" max="18:00" value="00:00" required />
                                  </div>
                              </div>
                              <div>
                                  <label for="end-time" class="block mb-2 text-sm font-bold text-gray-900">End time:</label>
                                  <div class="relative">
                                      <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                        
                                      </div>
                                      <input type="time" id="end-time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " min="09:00" max="18:00" value="00:00" required />
                                  </div>
                              </div>
                            </div>


                            <div class="mt-3">
                              <h3 class="mb-4 font-semibold text-gray-900 ">Select the status of your activity</h3>
                              <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex ">
                                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
                                      <div class="flex items-center ps-3">
                                          <input id="pending" type="radio" value="pending" name="status" class="w-4 h-4 text-yellow-600 bg-gray-100 border-gray-300  ">
                                          <label for="pending" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">
                                            <img src="{% static "images\icons8-pending.gif" %}" class="h-8" alt="">
                                          </label>
                                      </div>    
                                  </li>
                                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r  ">
                                      <div class="flex items-center ps-3">
                                          <input id="completed" type="radio" value="completed" name="status" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300  ">
                                          <label for="completed" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">
                                            <img src="{% static "images\icons8-order-completed.gif" %}" class="h-8" alt="">
                                          </label>
                                      </div>
                                  </li>
                                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
                                      <div class="flex items-center ps-3">
                                          <input id="failed" type="radio" value="failed" name="status" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 ">
                                          <label for="failed" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">
                                            <img src="{% static "images\icons8-scorecard.gif" %}" class="h-10" alt="">
                                          </label>
                                      </div>
                                  </li>
                                </ul>
                          </div>

                          <div class="flex-shrink-0  py-3 flex justify-end">
                            <button type="button" id="cancel_div_btn" class="flex py-2 px-2 rounded-md shadow-sm text-sm border duration-500 border-blue-300 font-medium bg-white ">
                              <p> Cancel</p>
                              <img src="{% static "images\icons8-bin.gif" %}" class="h-5 w-5 " alt="">
                            </button>
                              
                            <button type="button" id="save_plan_btn" class="ml-4 flex inline-flex justify-center py-2 px-2 border duration-500 border-blue-300 shadow-sm text-sm font-medium rounded-md  bg-white  ">
                              <p>Enter</p>
                              <img src="{% static "images\icons8-click (1).gif" %}" class="h-5 w-5" alt="">
                            </button>
                          </div>
                          
                        </div>
                    
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       
    

        
      </div>

      

      
    
    </div>
    
    
    <script>
      const userMenuButton = document.getElementById("user-menu-button");
      const userMenu = document.getElementById("user-menu");

      // Initially hide the user menu
      userMenu.style.display = "none";

      userMenuButton.addEventListener("click", function (event) {
        // Toggle the display property of the user menu
        if (userMenu.style.display === "none") {
          userMenu.style.display = "block";
        } else {
          userMenu.style.display = "none";
        }
        // Prevent the click event from propagating further
        event.stopPropagation();
      });

      // Add event listener to the document body
      document.body.addEventListener("click", function (event) {
        // Check if the click event target is not the user menu button or the user menu itself
        if (
          event.target !== userMenuButton &&
          event.target !== userMenu &&
          !userMenu.contains(event.target)
        ) {
          // Hide the user menu
          userMenu.style.display = "none";
        }
      });


      function toggleMenu() {
        var mobileMenu = document.getElementById('mobile-menu');
        if (mobileMenu.hasAttribute('hidden')) {
          mobileMenu.removeAttribute('hidden');
        } else {
          mobileMenu.setAttribute('hidden', '');
        }
      }
  
    </script>
  </body>
</html>
