{% load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://kit.fontawesome.com/fe48d315e7.js" crossorigin="anonymous"></script>
    <script src="{% static "js/plan.js" %}"></script>
  </head>
  <body class="bg-gradient-to-r from-gray-200  to-gray-400">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div>
      <nav class="bg-gray-100 shadow">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
                <img
                class="block lg:hidden h-16 w-auto"
                src="{% static "images/EduLink (1).png" %}"
                alt="Workflow"
              />
              <img
                class="hidden lg:block h-16 w-auto"
                src="{% static "images/EduLink (1).png" %}"
                alt="Workflow"
              />
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                <a
                  href="{% url 'homepage' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 font-sans hover:text-gray-700 inline-flex items-center px-1 pt-1 font-sans border-b-2 text-sm font-medium"
                >
                Home
                </a>
                <a
                  href="{% url 'posts' %}"
                  class="{% if request.path == '/posts' %}border-blue-500{% else %}border-transparent{% endif %} text-gray-500 font-sans hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Posts
                </a>
                <a
                  href="{% url 'chatroom' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 font-sans hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Chatroom
                </a>
                <a
                  href="{% url 'classes' %}"
                  class="border-transparent text-gray-500 hover:border-gray-300 font-sans hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Classes
                </a>
                <a
                  href="{% url 'plan' %}"
                  class="{% if request.path == '/plan' %}border-blue-600 font-sans text-gray-900{% else %}border-transparent{% endif %} text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                >
                  Plan
                </a>
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <div class="flex justify-center items-center">
                 
                
                <button
                  type="button"
                  class="bg-gray-100 rounded-full text-gray-400 hover:text-gray-500 p-1 focus:outline-none "
                >
                <div class="flex items-center justify-center ">
                  <i class="fa-solid fa-plus"></i>
                </div>
                
                </button>
          
            </div>

              <!-- Profile dropdown -->
              <div class="ml-3 relative">
                <div>
                  <button
            
                    type="button"
                    class="bg-white rounded-full flex text-sm"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <span class="sr-only">Open user menu</span>
                    <img
                      class="h-8 w-8 rounded-full"
                      src="{% if user.avatar.image %}{{ user.avatar.image.url }}{% else %}https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80{% endif %}"

                      alt=""
                    />
                  </button>
                </div>

                <!--
                Dropdown menu, show/hide based on menu state.
    
                Entering: "transition ease-out duration-200"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div
                  id="user-menu"
                  class="origin-top-right bg-gray absolute right-2 mt-1 w-24 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 border-b"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                    >My Profile</a
                  >
                 
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 "
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                    >Log out</a
                  >
                </div>
              </div>
            </div>
            <div class="-mr-2 flex items-center sm:hidden">
              <!-- Mobile menu button -->
              <button
                id="user-menu-button"
                type="button"
                onclick="toggleMenu()"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 "
                aria-controls="mobile-menu"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <!--
                Icon when menu is closed.
    
                Heroicon name: outline/menu
    
                Menu open: "hidden", Menu closed: "block"
                -->
                <svg
                  class="block h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
                <!--
                Icon when menu is open.
    
                Heroicon name: outline/x
    
                Menu open: "block", Menu closed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div  class="sm:hidden" id="mobile-menu" hidden>
          <div class="pt-2 pb-3 space-y-1">
            <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
            <a
              href="{% url 'homepage' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Home</a
            >
            <a
              href="{% url 'posts' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Posts</a
            >
            <a
              href="{% url 'chatroom' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Chatroom</a
            >
            <a
              href="{% url 'classes' %}"
              class="border-transparent text-gray-500 font-sans hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Classes</a
            >

            <a
              href="{% url 'plan' %}"
              class="{% if request.path == '/plan' %}border-blue-500 text-gray-900{% else %}border-transparent{% endif %} text-gray-500 hover:bg-gray-50 font-sans hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
              >Plan</a
            >
          </div>
          <div class="pt-4 pb-3 border-t border-gray-200">
            <div class="flex items-center px-4">
              <div class="flex-shrink-0">
                <img
                  class="h-10 w-10 rounded-full"
                  src="{% if user.avatar.image %}{{ user.avatar.image.url }}{% else %}https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80{% endif %}"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <div class="text-base font-sans font-medium text-gray-800">{{ user.username }}</div>
                <div class="text-sm font-sans font-medium text-gray-500">
                  {{ user.email }}
                </div>
              </div>
              <button
                type="button"
                class="ml-auto flex-shrink-0 bg-gray-100 p-1  rounded-full text-gray-400 hover:text-gray-500 focus:outline-none "
              >
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <i class="fa-solid fa-bars"></i>
              </button>
            </div>
            <div class="mt-3 space-y-1 hidden">
              <a
                href="#"
                class="block font-sans px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Your Profile</a
              >
              
              <a
                href="{% url 'user_logout' %}"
                class="block px-4 py-2 text-base font-sans font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100"
                >Sign out</a
              >
            </div>
          </div>
        </div>
      </nav>

      <div>
        <div id="noplan-div" class="text-center mt-7">
          <div class="flex justify-center items-center "><img src="{% static "images/undraw_completed_tasks_vs6q.svg" %}"  alt="" class="fill-gray-200 w- h-64 rounded-md "></div>
          <h3 class="mt-2 text-sm font-medium text-gray-900">Hey {{user.username}}</h3>
          <p class="mt-1 text-sm text-gray-500">Start by adding an event you want to track</p>
          <div class="mt-6">
            <button id="add-plan-div" type="button" class="inline-flex items-center px-4 py-2 border border-gray-700 shadow-sm text-xs font-medium rounded-3xl text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <!-- Heroicon name: solid/plus -->
              <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              Add an event
            </button>
          </div>
        </div>

        <div id="add-event-div" class="fixed inset-0 overflow-hidden hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
          <div class="absolute inset-0  overflow-hidden">
            <!-- Background overlay, show/hide based on slide-over state. -->
            <div class="absolute inset-0" aria-hidden="true">
              <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex">
                <!--
                  Slide-over panel, show/hide based on slide-over state.
        
                  Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-full"
                    To: "translate-x-0"
                  Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-0"
                    To: "translate-x-full"
                -->
                <div class="w-screen max-w-md">
                  <div class="h-full divide-y divide-gray-200 flex flex-col bg-white shadow-xl">
                    <div class="min-h-0 flex-1 flex flex-col py-6 overflow-y-scroll">
                      <div class="px-4 sm:px-6">
                        <div class="flex items-start justify-between">
                          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Activity Plan</h2>
                          <div class="ml-3 h-7 flex items-center">
                            <button type="button" id="cancel-div-top" class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                              <span class="sr-only">Close panel</span>
                              <!-- Heroicon name: outline/x -->
                              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="mt-6 relative flex-1 px-4 sm:px-6">
                        <form class="max-w-md mx-auto">
                          
                          
                     
                            <h3 class="font-semibold text-gray-900 ">Select the activity you want to track</h3>
                            <div class="relative z-0 w-full mb-2 group mt-2">
                                
                                <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-00 appearance-none  dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                                <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Activity</label>
                            </div>

                            <div class="max-w-[16rem]  grid grid-cols-2 gap-4 ">
                              <div>
                                  <label for="start-time" class="block mb-2 text-sm font-medium text-gray-700 ">Start time:</label>
                                  <div class="relative">
                                      <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                              <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
                                          </svg>
                                      </div>
                                      <input type="time" id="start-time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " min="09:00" max="18:00" value="00:00" required />
                                  </div>
                              </div>
                              <div>
                                  <label for="end-time" class="block mb-2 text-sm font-medium text-gray-700">End time:</label>
                                  <div class="relative">
                                      <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                              <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
                                          </svg>
                                      </div>
                                      <input type="time" id="end-time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " min="09:00" max="18:00" value="00:00" required />
                                  </div>
                              </div>
                            </div>


                            <div class="mt-3">
                              <h3 class="mb-4 font-semibold text-gray-900 ">Select the status of your activity</h3>
                              <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex ">
                                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
                                      <div class="flex items-center ps-3">
                                          <input id="horizontal-list-radio-license" type="radio" value="" name="list-radio" class="w-4 h-4 text-yellow-600 bg-gray-100 border-gray-300  ">
                                          <label for="horizontal-list-radio-license" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Pending </label>
                                      </div>    
                                  </li>
                                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r  ">
                                      <div class="flex items-center ps-3">
                                          <input id="horizontal-list-radio-id" type="radio" value="" name="list-radio" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300  ">
                                          <label for="horizontal-list-radio-id" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Completed</label>
                                      </div>
                                  </li>
                                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
                                      <div class="flex items-center ps-3">
                                          <input id="horizontal-list-radio-military" type="radio" value="" name="list-radio" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 ">
                                          <label for="horizontal-list-radio-military" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Failed</label>
                                      </div>
                                  </li>
                                </ul>
                          </div>

                          <div class="flex-shrink-0  py-4 flex justify-start">
                            <button type="button" id="cancel-div" class=" py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-800">Cancel</button>
                            <button type="submit" class="ml-4 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-800 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Save</button>
                          </div>
                          
                        </form>
                    
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    
    </div>
    <script>
      const userMenuButton = document.getElementById("user-menu-button");
      const userMenu = document.getElementById("user-menu");

      // Initially hide the user menu
      userMenu.style.display = "none";

      userMenuButton.addEventListener("click", function (event) {
        // Toggle the display property of the user menu
        if (userMenu.style.display === "none") {
          userMenu.style.display = "block";
        } else {
          userMenu.style.display = "none";
        }
        // Prevent the click event from propagating further
        event.stopPropagation();
      });

      // Add event listener to the document body
      document.body.addEventListener("click", function (event) {
        // Check if the click event target is not the user menu button or the user menu itself
        if (
          event.target !== userMenuButton &&
          event.target !== userMenu &&
          !userMenu.contains(event.target)
        ) {
          // Hide the user menu
          userMenu.style.display = "none";
        }
      });


      function toggleMenu() {
        var mobileMenu = document.getElementById('mobile-menu');
        if (mobileMenu.hasAttribute('hidden')) {
          mobileMenu.removeAttribute('hidden');
        } else {
          mobileMenu.setAttribute('hidden', '');
        }
      }
  
    </script>
  </body>
</html>
